* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    background-size: auto 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    width: 100vw;
    top: 0;
    padding: 25px;
    text-align: center;
}

h1{
    color: rgb(255, 108, 108);
}

h2 {
    color: rgb(255, 153, 153);
}

h3 {
    color: rgb(11, 0, 58);
    padding: 8px;
}

.jogo {
    text-align: center;
}

.dica {
    color: rgb(11, 0, 58);
    padding: 2px;
}

.palpite {
    color: darkslateblue;
}

.enviapalpite {
    background-color: pink;
}

.enviapalpite:hover {
    background-color: rgb(255, 153, 170);
}
